
// ===================== Global ====================== //

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    color: #fff;
    background: #191B1F;
    margin-block-end: 0;
    margin-block-start: 0;
    overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p {
    margin-block-start: 0;
    margin-block-end: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.container {
    max-width: 1720px;
    margin: 0 auto;
    
}

// ===================== header ====================== //

.header {
    position: relative;
    
    
}

.header__bg {
    background:  no-repeat top right / 68% url('../img/header_bg.png');
}


.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 89px;
}

.nav {
    margin-left: 186px;
    margin-right: auto;
}


.nav-list {
    display: flex;
}

.nav--visible .nav-list .list__item {
    margin-right: 0;
}
.list__item {
    margin-right: 50px;
}
.nav--visible .list__item:last-child {
    margin-right: 50px;
    margin-bottom: 0;
}

.nav-list .list__item:last-child {
    margin-right: 0;
    margin-bottom: 0;
}
.list__link {
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}

.user__icon {
    display: none;
}

.mobile-office__link {
    display: none;
}

.burger-menu {
    display: none;
    position: relative;
    width: 40px;
    height: 20px;
    border: none;
    padding: 0;
    cursor: pointer;
    background-color: transparent;
}

.burger-menu::after,
.burger-menu::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition: transform .3s ease-in-out;
}

.burger-menu::after {
    bottom: 0;
}

.burger-menu::before {
    top: 0;
}



.burger__line {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 100%;
    height: 2px; 
    background-color: #fff;
    transition: opacity .3s ease-in-out;
}


.header__link {
    color: #fff;
    width: 174px;
    min-height: 47px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    background: #000694;
}

.header__hr {
    margin: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    border: none;
    background-color: #D9D9D9;
    opacity: .45;
}
.header__middle {
    max-width: 722px;
    padding-top: 228px;
    padding-bottom: 249px;
}
.header__title {
    color: #FFF;
    font-size: 200px;
    font-weight: 600;
    margin-bottom: 14px;
}
.header__text {
    font-size: 28px;
    font-weight: 300;
    margin-bottom: 47px;
}

.header-middle__link {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    max-width: 286px;
    width: 100%;
    min-height: 73px;
    gap: 10px;
    
    font-size: 24px;
    font-weight: 400;
    border-radius: 14px;
    background: #000694;
}




// ===================== company ====================== //

.main__company {
    padding-top: 64px;
    padding-bottom: 84px;
}
.company {
    background: #16171C;
}

.company__title {
    margin-bottom: 71px;
}

.heading__title {
    font-size: 50px;
    font-weight: 500;
}
.company__logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 43px;
    column-gap: 36px;
}
.company__logo {
    display: inline-block;
}


// ===================== our-course ====================== //

.main__our-course {
    padding-top: 150px;
    
}

.swiper-arrows__box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 62px;
}
.our-course__title {
    font-size: 50px;
    font-weight: 500;
}
.swiper-arrows {
    display: flex;
}
.swiper-button-prev1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #000694;
    border-radius: 50%;
    margin-right: 25px;
}
.swiper-button-next2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    background-color: #000694;
    border-radius: 50%;
}

.swiper-slide {
    display: flex;
    max-width: 1720px;
    box-sizing: border-box;
}
.slide__inner {
    display: flex;
    
    border-radius: 40px;
    background: #16171C;
    padding: 35px 95px;
}
.slide__img img{
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: bottom;
}
.slide__content {
    margin-left: 121px;
    display: flex;
    flex-direction: column;
    max-width: 624px;
    justify-content: center;
}
.slide__title {
    font-size: 50px;
    font-weight: 500;
    margin-bottom: 24px;
}
.slide__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
}
.slide__buttons {
    margin-top: 65px;
    display: flex;
    align-items: flex-start;
}
.slide__button {
    max-width: 286px;
    font-size: 24px;
    display: inline-block;
    box-sizing: border-box;
    border-radius: 10px;
   
}

.button__mr-20 {
    margin-right: 20px;
}

.button__blue {
    width: 286px;
    min-height: 73px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    background: #000694;
    border: 1px solid #000694;
}

.button__tranp {
    width: 286px;
    min-height: 73px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFF;
    font-size: 18px;
    font-weight: 400;

}

// ===================== about-course ====================== //

.main__about-course {
    margin-top: 150px;
    margin-bottom: 100px;
}
.about-course__title {
    margin-bottom: 62px;
}

.about-course__box {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.about-course__item {
    box-sizing: border-box;
    max-width: 544px;
    padding: 39px 42px;
    border-radius: 30px;
    border: 1px solid rgba($color: #fff, $alpha: 0.45);
    
    background: #191B1F;

}

.show-more {
    display: none;
}
.user-box {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
}
.about-user {
    margin-left: 26px;
}
.about-name {
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 4px;
}
.work-place {
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
}
.user-text {
    font-size: 18px;
    font-weight: 300;
    line-height: 150%;
}

.btn-box {
    display: none;
}

// ===================== contacts ====================== //




.contacts__inner {
    border-radius: 40px;
    background: url("../img/form_bg.png") left bottom no-repeat, #16171C;
    padding: 105px 95px;
    display: flex;
    justify-content: space-between;
}
.contacts__social {
    display: flex;
    align-items: flex-start;
    max-width: 736px;
    width: 100%;
}
.social__link {
    display: inline-flex;
    align-items: center;
    margin-right: 45px;
    padding-top: 5px;
    opacity: .45;
}

.social__link:first-child {
    padding-top: 0;
}

.social__link:nth-child(2) img{
    display: inline-block;
    margin-right: 12px;
}
.social__link:nth-child(3) img{
    display: inline-block;
    margin-right: 12px;
}

.social__link:last-child {
    margin-right: 0;
}







.contacts__form {
    margin-left: 30px;
    max-width: 534px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contacts__input {
    // max-width: 534px;
    width: 100%;
    box-sizing: border-box;
    display: block;
  
    margin-bottom: 37px;
    padding: 30px 32px;
    border-radius: 14px;
    background-color: #17191d;
    border: 1px solid #fff;
    color: #fff;
    opacity: .45;
}

.contacts__input:focus {
    border: 1px solid #fff;
    color: #fff;
    opacity: .45;
    outline: none;
    background: transparent;
}

.button__send {
    border-radius: 14px;
    background-color: #000694;
    border: none;
    height: 84px;
    max-width: 584px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 37px;
}

.mb-5 {
   
   margin-bottom: -5px;
}




.custom-radio span {
    position: relative;
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    opacity: .45;
}

.custom-radio input[type="radio"] {
    position: absolute;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.custom-radio span::before {
    content: "";
    width: 20px;
    height: 20px;
    border: 1px solid rgba($color: #fff, $alpha: 0.45);
    display: inline-block;
    border-radius: 50%;
    margin-right: 16px;
}

.custom-radio span::after {
    content: "";
    position: absolute;
    left: 6px;
    top: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    transform: translateY(-50%) ;
    background-color: #fff;
    opacity: 0;
}

.custom-radio input[type="radio"]:checked + span::after {
    opacity: .45;
}

// ===================== footer ====================== //

.footer {
    margin-top: 101px;
    padding-bottom: 122px;
}

.footer__inner {
    display: flex;
    justify-content: space-between;
}

.footer__logo {
    margin-bottom: 64px;
}

.footer__list .nav-list {
    flex-direction: column;
    
}

.footer__politics-mob {
    display: none;
}

.footer__list .list__item {
    margin-bottom: 20px;
}
.footer__list .list__item:last-child {
    margin-bottom: 0;
}

.footer__list .nav-list .list__link {
    font-size: 20px;
    font-weight: 400;
}


.contacts-list__item {
    margin-bottom: 20px;
}
.contacts-list__item:last-child {
    margin-bottom: 0;
}
.contacts-list__link {
    font-size: 20px;
    font-weight: 400;
}
.footer__social {
    margin-right: 298px;
}
.footer-social__link {
    display: inline-block;
    margin-right: 16px;
}
.footer-social__link:last-child {
    margin-right: 0;
}

.logo-box__item {
    margin-bottom: 20px;
}
.logo-box__item:last-child {
    margin-bottom: 0;
}

.politics__link {
    font-size: 16px;
    font-weight: 300;
}

.mobile__img {
    position: relative;
    display: none;
}


.mobile__img img::before {
    content: "";
    position: absolute;
    
    top: 0px;
    right: 0px;
    width: 80px;
    height: 80px;
    background-image: url("../img/cube_small.png");
}

.stop-scroll {
    overflow: hidden;
}



// ===================== page about ====================== //
// ===================== about-us ====================== //

.main__about-us {
    padding-top: 141px;
    padding-bottom: 20px;
}

.about-us__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-big__box {
    max-width: 776px;
    max-height: 246px;
}

.logo-big__box img {
    width: 100%;
    // height: auto;
    // object-fit: cover;
    // object-position: bottom;
}


.about-us__content {
    max-width: 755px;
    margin-left: 30px;
}
.about-us__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 150%; 
}

// ===================== page about ====================== //

.main__we-work {
    margin-top: 170px;
    margin-bottom: 106px;
}

.we-work__inner {
    display: flex;
    justify-content: space-between;
    border-radius: 30px;
    background: #16171C;
    position: relative;
    padding: 70px;
}
.we-work__content {
    max-width: 755px;
}
.we-work__title {
    margin-bottom: 24px;
    font-size: 50px;
    font-weight: 500;
}

.we-work__text,
.our-mission__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 160%;
}

.we-work__text:last-child,
.our-mission__text:last-child {
    margin-top: 20px;
}
.we-work__img-box {
    position: relative;
    top: -200px;
    right: 0;
    margin-bottom: -200px;
}

// ===================== our-mission ====================== //

.main__our-mission {
    margin-bottom: 150px;
}
.our-mission {
    padding-top: 30px;
    padding-bottom: 150px;
}

.our-mission__inner {
    display: flex;
    margin-bottom: 150px;
}
.our-mission__img-box {
    
    max-width: 836px;
    
    border-radius: 30px;
    background: #16171C;
    margin-right: 40px;
}

.our-mission__img-box img {
    position: relative;
    display: inline-block;
}

.our-mission__img-box .for-after {
    position: relative;
}

.our-mission__img-box .for-after::after {
    content: url("../img/shapes3.png");
    position: absolute;
    right: 26px;
    top: -110px;
    display: block;
    z-index: 999;
}
.our-mission__content {
    max-width: 801px;
}
.our-mission__title {
    margin-bottom: 24px;
}

// ===================== our-advantages ================= //

.main__our-advantages {
    margin-bottom: 200px;
}

.our-advantages__title {
    margin-bottom: 62px;
}

.our-advatages__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 40px;
}
.our-advantages__box {
    box-sizing: border-box;
    max-width: 836px;
    padding: 42px 45px 59px 59px;
    border-radius: 30px;
    background: #16171C;
}
.our-advantages__img-box {
    margin-bottom: 42px;
}

.advantages-content__title {
    margin-bottom: 26px;
    font-size: 30px;
    font-weight: 500;
}
.advantages-content__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
}

// ===================== page course ====================== //
// ===================== about-course ==================== //

.about-course__inner {
    background: none;
    display: flex;
    justify-content: space-between;
}


.description-course-list {
    margin-top: 60px;
 
}
.description-course__item {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 21px;
}

.description-course__item:last-child {
    margin-bottom: 0;
}

.about-course__content {
    
    margin-left: 0;
    margin-right: 66px;
}

// ===================== for-whom ==================== //


.main__for-whom {
    margin-bottom: 150px;
}

.for-whom__inner {
    display: flex;
    
}
.for-whom__item {
    max-width: 544px;
    padding: 47px;
    box-sizing: border-box;
    border-radius: 30px;
    background: #16171C;
    margin-right: 40px;
}

.for-whom__item:last-child {
    margin-right: 0;
}
.for-whom__img-box {
    margin-bottom: 69px;
}

.for-whom__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;
}

// ===================== what-learn ==================== //

.what-learn__inner {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.what-learn__item {
    padding: 47px 50px;
    box-sizing: border-box;
    width: 836px;
    display: flex;
    align-items: center;
    gap: 80px;
    border-radius: 30px;
    background: #16171C;
}

.what-learn__text {
    font-size: 24px;
    font-weight: 300;
    line-height: 160%;
}


// ================ description-course ================== //

.description-course {
    margin-top: 60px;
    margin-bottom: 178px;
}

.description-course__title {
    margin-bottom: 24px;
}
.description-course__text {
    font-size: 32px;
    font-weight: 300;
    line-height: 150%;
    max-width: 1027px;
}


// ===================== modules-course ==================== //


.modules-course__title {
    margin-bottom: 55px;
}
.modules-course__list {
    margin-bottom: 55px;
    display: flex;
}
.modules-course__item {
    margin-right: 40px;
    font-size: 24px;
    font-weight: 300;
    line-height: 150%;  
}
.modules-course__item span{
    font-weight: 700;     
}
.modules-course__item:last-child {
    margin-right: 0;   
}
.modules__list{
    max-width: 982px;
    width: 100%;
}
.modules__item {
    
    max-width: 982px;
}
.accordion__control {
    
    width: 100%;
    padding: 49px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #16171C;
    border: none;
    text-decoration-line: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    
}

.accordion__control:focus {
    border: none;
    outline: none;
}
.accordion__icon {
    display: inline-block;

     
}
.accordion__title {
    display: inline-block;
    margin-left: 32px;
    margin-right: auto;
    color: #fff;
    font-size: 24px;
    font-weight: 300;
}
.accrodiona__text {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    line-height: 150%;
}
.modules-item__content {
    max-width: 884px;
}

.accordion__content {
    
    
 
    
    padding: 0 49px;
    border-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #16171C;
    text-decoration-line: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    will-change: max-height;
    transition: all .3s ease-out;
    // box-sizing: content-box;
    margin-bottom: 20px;

}

.open .accordion__content {
    opacity: 1;
    padding:  29px 49px;
    max-height: fit-content;
    margin-top: -20px;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.open .accordion__control {
    
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.questions-accordion__icon svg {
    transform: rotate(180deg);
}

.accordion__icon svg {
    transition: all .5s ease-out;
}

.open .accordion__icon svg {
    transform: rotate(0);
}

.open .modules__item svg {
    transform: rotate(-180deg);
}

.open .modules__item svg circle {
    fill: #000694;
}

.open .questions-accordion__icon svg circle{
    fill: #9B37FF;
}



// =================== about-instructor ================== //


.about-instructor__title {
    margin-bottom: 62px;   
}
.about-instructor__inner {
    display: flex;
    align-items: center;
}
.about-instructor__img-box {
    margin-right: 58px;
}

.about-instructor__content {
    box-sizing: border-box;
    max-width: 599px;
    width: 100%;
}
.about-instructor__name {
    font-size: 40px;
    font-weight: 500;
    line-height: 150%;
    margin-top: 3px;
}
.about-instructor__info {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
}
.about-instructor__progress {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
.about-instructor__field {
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;

}
.about-instructor__result {
    font-size: 24px;
    font-weight: 400;
    line-height: 150%;
    text-align: left;
    max-width: 355px;
}
.about-instructor__description {
    margin-top: 38px;
    font-size: 20px;
    font-weight: 300;
    line-height: 150%;
}


// ===================== questions ==================== //

.main__questions {
    margin-top: 83px;
    margin-bottom: 200px;
}

.questions__accordion-list {
    width: 100%;
    max-width: 1920px;
}

.questions-accordion__title {
    margin-left: 0;
}

.questions-accordion__icon {
    transform: rotate(180deg);
}


// ===================== what-learn ==================== //


// ===================== media ====================== //

// ===================== 1720 =====================//

@media (max-width: 1720px) {
    .container {
        padding-right: 30px;
        padding-left: 30px;
    }

    //------------------------------------//

    .company__logos {
        justify-content: center;
       
    }

    
    //------------------------------------//

    .slide__content {
        // margin-left: 60px;
        display: flex;
        flex-direction: column;
        
        justify-content: center;
    }

    //------------------------------------//

    .about-course__item {
        max-width: 430px;
    }

    //------------------------------------//

    .about-us__inner {
        flex-direction: column;
        gap: 40px;   
    }

    //------------------------------------//

    .main__we-work {
        margin-bottom: 170px;
    }

    

    //------------------------------------//

    .our-advantages__box {
        max-width: 680px;
    }

    //------------------------------------//
    //------------------------------------//



   
}

// ===================== 1440 =====================//

@media (max-width: 1440px) {

    .header__middle {
        max-width: 722px;
        padding-top: 128px;
        padding-bottom: 128px;
    }
   

     //------------------------------------//

    .company__logos {
        justify-content: center;
       
    }

    //------------------------------------//

    .slide__inner {
        flex-direction: column;
        align-items: center;
    }

    .slide__content {
        margin-top: 20px;
        margin-left: 0;
    }

    //------------------------------------//

  
    
    .about-course__box {
        justify-content: center;
    }
    
     //------------------------------------//

    .contacts__inner {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contacts__social {
        margin-top: 40px;  
    }

    .contacts__social {
        align-items: center;
        justify-content: space-between;
    }

     //------------------------------------//

     .footer__social {
        margin-right: 0;
    }

    //------------------------------------//

    .we-work__inner {
        flex-direction: column;
        align-items: center;
    }

    .we-work__img-box {
        top: 150px;
        margin-bottom: 0;
    }

    //------------------------------------//

    .our-mission__inner {
        flex-direction: column-reverse;
        align-items: center;
        gap: 60px;
    }

    .our-mission__img-box {
        margin-right: 0;
    }

    .our-mission__img-box img {
        object-fit: cover;
        width: 100%;
    }

    

    //------------------------------------//

    .our-advantages__title {
        text-align: center;
    }

    .our-advantages__box {
        max-width: 836px;
    }
    .our-advatages__inner {
        align-items: center;
        justify-content: center;
    }

    //------------------------------------//

    .slide__buttons {
        margin-bottom: 60px;
    }

    //------------------------------------//

   
}


// ===================== 1200 =====================//

@media (max-width: 1200px) {
    .heading__title {
        font-size: 42px;
        font-weight: 500;
        text-align: center;
    }

   .for-whom__inner {
        align-items: center;
        flex-direction: column;
        justify-content: center;
        gap: 40px;
   }

   .for-whom__item {
        margin-right: 0;
   }

   // -------------------------------- //

   .what-learn__title {
        margin-bottom: 62px;
   }

   .what-learn__inner {
        justify-content: center;
   }

   // -------------------------------- //

   .description-course {
    margin-bottom: 80px;
   }


   .slide__button {
    text-align: center;
   }

   // -------------------------------- //

   .modules-course__list {
    justify-content: center;
   }

   .accordion__list {
    margin: 0 auto;
   }


   // -------------------------------- //

   .about-instructor__inner {
        flex-direction: column;
   }

   .about-instructor__img-box {
        margin-right: 0;
        margin-bottom: 20px;
   }

   // -------------------------------- //

   .main__about-course {
    margin-top: 20px;
    margin-bottom: 80px;
   }

   // -------------------------------- //

 

   .description-course .button__blue {
    margin: 0 auto;
   }  

   // -------------------------------- //

}

// ===================== 1024 =====================//

@media (max-width: 1024px) {

    .header {
        position: relative;
        
    }

    .header__bg {
        background:  no-repeat top right / 68% url('../img/header_bg.png');
    }

    .header__title {
        font-size: 180px;
    }
    .nav {
        // display: none;
        position: fixed;
        top: 89px;
        right: 30px;
        z-index: 1000;
        margin-right: 0;
        border-radius: 12px;
        background: #16171C;
        margin-left: 0;
        padding: 20px 37px 45px 20px;
        transform: translateX(calc(100% + 30px));
        transition: transform 0.6s ease-in-out ;
    }

    .nav--visible {
        transform: none;
    }

    .nav-list {
        flex-direction: column;
        align-items: flex-start;
    }

    .list__item {
        text-align: center;
        margin-bottom: 30px;
    }

    .list__link {
        font-size: 16px;
    }
    .header__link {
        display: none;
       
    }

    .logo__box {
        margin-right: auto;
    }

    //------------------------------------//

    .burger-menu {
        display: block;
    }

    .mobile-office__link {
        display: inline-flex;
        margin-right: 20px;
    }

    .burger--active .burger__line {
        opacity: 0;
    }

    .burger--active::before {
        top: 50%;
        transform: rotate(45deg);
    }

    .burger--active::after {
        top: 50%;
        bottom: auto;
        transform: rotate(-45deg);
    }

    //------------------------------------//

    .slide__content {
        margin-left: 0;
    }

    .slide__buttons {
        margin-bottom: 25px;
    }

    .about-course .slide__buttons {
        margin-bottom: 60px;
    }

    //------------------------------------//

    .contacts__inner {
        padding: 50px;
    }

    .social__link {
        margin-right: 15px;
    }

    //------------------------------------//

    .footer__inner {
        flex-wrap: wrap;
    }

    .footer__politics {
        width: 100%;
    }

    .footer__logo {
        margin-bottom: 30px;
    }
    .logo-box__list--deskt {
        display: none;
    }

    .footer__politics-mob {
        margin-top: 40px;
        display: block;
        width: 100%;
    }

    .footer {
        padding-bottom: 50px;
    }

    // =================================== //

    .about-course__item {
        max-width: 336px;
        padding: 25px;
    }

    

    .btn-box {
        display: block;
        width: 335px;
        text-align: left;
    }



    .user-box {
        margin-bottom: 20px;
    }

    .user-box img {
        width: 54px;
        height: 54px;
    }

    .about-user {
        margin-left: 16px;
    }

    .about-name {
        font-size: 12px;
        margin-bottom: 2px;
    }

    .user-text {
        font-size: 12px;
    }

    .work-place {
        font-size: 10px;
    }

    // =================================== //

    .our-mission__img-box .for-after::after {
        content: url("../img/shapes3.png");
        right: 0;
        
    }

    // =================================== //

    .main__questions {
        margin-bottom: 80px;
    }

    // =================================== //
    
}


// ===================== 767 ====================== //

@media (max-width: 767px) {
    //------------------------------------//

    .logo__box img {
      width: 86px;
      height: 26px;  
    }
    .header__top {
        min-height: 75px;
    }

    .header__middle {
        width: 100%;
        padding-top: 56px;
        padding-bottom: 57px;
    }

    .header__title {
        font-size: 120px;
    }

    .header-bg {
        background: no-repeat top right /90% url("../img/header_bg.png");
    }

    

    //------------------------------------//

    .button__blue, .button__tranp {
        max-width: 178px;
        width: 100%;
        min-height: 50px;
        font-size: 12px;
        border-radius: 6.6px;
    }


    //------------------------------------//


    .company__logos {
        column-gap: 98px;
    }

    //------------------------------------//

    .show-more {
        width: 187px;
        height: 53px;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        border: none;
        color: #fff;
        border-radius: 9px;
        font-size: 12px;
        font-weight: 400;
        background: #000694;
    }
    
    .about-course__item:nth-child(n+4) {
        display: none;
    }

    .about-course__item.is-visible {
        display: block;
    }

     //------------------------------------//

    .contacts__form {
        margin-left: 0;
        order: 3;
    }

    .contacts__inner {
        background: #16171C;
    }

    .mobile__img {
        display: block;
        order: 2;
    }

    .contacts__social {
        order: 1;
    }

    .custom-radio span {
        font-size: 12px;
    }

    .custom-radio span::before {
        width: 9px;
        height: 9px;
        margin-right: 5px;
    }

    .social__link {
        font-size: 12px;
        margin-right: 5px;
    }

    .social__link:nth-child(1) img {
        width: 20px;
        height: 20px;
    }

    .social__link:nth-child(2) img {
        width: 16px;
        height: 16px;
        margin-right: 5px;
    }

    .social__link:nth-child(3) img {
        width: 14.5px;
        height: 14.5px;
        margin-right: 5px;
        
    }

     //------------------------------------//

     .main__we-work {
        margin-top: 80px;
        margin-bottom: 80px;
     }

     .we-work__inner {
        padding-bottom: 40px;
     }

     .we-work__img-box img {
        width: 100%;
        object-fit: cover;
        object-position: bottom;
     }

     .we-work__img-box {
        top: 100px;
        margin-bottom: 0;
    }
     
     //------------------------------------//

     .our-mission__inner {
        margin-bottom: 80px;
    }

     //------------------------------------//

     .main__our-advantages {
        margin-bottom: 80px;
     }

     //------------------------------------//

     .our-mission__img-box .for-after::after {
        content: url("../img/shapes3.png");
        right: -50px;
    }


     //------------------------------------//

     .main__about-course {
        margin-top: 40px;
        margin-bottom: 40px;
     }

     .about-course__content {
        margin-right: 0;
     }

     .slide__inner {
        padding: 35px 55px;
     }

     //------------------------------------//

     .accordion__title {
        text-align: left;
        max-width: 300px;
     }

     .accrodiona__text {
        max-width: 83px;
        text-align: left;
     }

     //------------------------------------//

    

}

// ===================== 576 ====================== //

@media (max-width: 576px) {

    .container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .heading__title {
        font-size: 24px;
        text-align: left;
    }

    .company__logos {
        justify-content: center;
        column-gap: 65px;
        row-gap: 6px;
    }

    .logos-img1 {
        width: 106px;
        height: 43px;
        order: 1;
    }

    .logos-img2 {
        width: 75.5px;
        height: 31px;
        order: 2;
    }

    .logos-img3 {
        width: 91px;
        height: 29px;
        order: 3;
    }

    .logos-img7 {
        width: 98px;
        height: 44px;
        order: 4;
    }

    .logos-img8 {
        width: 78.5px;
        height: 33px;
        order: 5;
    }

    .logos-img9 {
        width: 97px;
        height: 45px;
        order: 6;
    }

    .logos-img4 {
        width: 100px;
        height: 41px;
        order: 7;
    }

    .logos-img5 {
        width: 80px;
        height: 27px;
        order: 8;
    }

    .logos-img6 {
        width: 80px;
        height: 45px;
        order: 9;
    }

    .logos-img10 {
        width: 38.5px;
        height: 29.4px;
        order: 10;
    }

    .logos-img11 {
        width: 32px;
        height: 32px;
        order: 11;
    }

    .logos-img12 {
        width: 47px;
        height: 36px;
        order: 12;
    }

    .logos-img13 {
        width: 33px;
        height: 34px;
        order: 13;
    }

    .logos-img14 {
        width: 35px;
        height: 37px;
        order: 14;
    }

    .logos-img15 {
        width: 42px;
        height: 31px;
        order: 15;
    }

    //------------------------------------//

    .main__company {
        padding-top: 23px;
        padding-bottom: 30px;
    }

    .main__our-course {
        padding-top: 60px;
    }

    .main__about-course {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    //------------------------------------//

    .header-bg {
        background: no-repeat top right /80% url("../img/header_bg.png");
    }

    .header__middle {
        padding-top: 21px;
        padding-bottom: 60px;
    }

    .header__title {
        font-size: 90px;
        margin-bottom: 0;
    }   

    .header__text {
        font-size: 16px;
        margin-bottom: 24px;
    }

    .header-middle__link {
        max-width: 139px;
        min-height: 43px;
        font-size: 14px;
        border-radius: 6.6px;
    }

    //------------------------------------//

    .swiper-arrows__box {
        align-items: center;
    }

    .swiper-button-prev1 {
        margin-right: 16px;
    }

    .swiper-button-prev1,
    .swiper-button-next2 {
        padding: 10px;
    }

    .swiper-button-prev1 img,
    .swiper-button-next2 img {
        width: 18px;
        height: 18px;
    }

    //------------------------------------//

    .slide__inner {
        padding: 25px 25px 39px 25px;
    }

    .swiper-arrows__box {
        margin-bottom: 32px;
    }

    .slide__img img {
        width: 281px;
        height: 215px;
    }

    .slide__title {
        font-size: 24px;
        margin-bottom: 11px;
    }

    .slide__text {
        font-size: 12px;
    }

    .slide__buttons {
        margin-top: 25px;
    }

    //------------------------------------//

    .about-course__title {
        text-align: center;
        margin-bottom: 45px;
    }

    .about-course__box {
        gap: 20px;
    }

    

    //------------------------------------//

    .our-mission__img-box .for-after::after {
        content: url("../img/shapes4.png");
        right: 0;
        top: -55px;
    }

    //------------------------------------//

    .main__about-us {
        padding-top: 31px;
        padding-bottom: 0;
    }
    .about-us__inner {
        gap: 30px;
    }

    .logo-big__box {
        max-width: 461px;
        
    }

    .about-us__text {
        font-size: 12px;
    }

    //------------------------------------//

    .main__we-work {
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .we-work__inner {
        padding: 20px;
        padding-bottom: 40px;
    }

    .we-work__title {
        margin-bottom: 12px;
    }

    .we-work__text, .our-mission__text {
        font-size: 12px;
    }

    .we-work__img-box {
        top: 80px;
    }
    //------------------------------------//

    .our-mission__inner {
        gap: 50px;
    }

     //------------------------------------//

    .main__our-advantages {
        margin-bottom: 60px;
     }

    .our-advatages__inner {
        row-gap: 20px;
    }

    .our-advantages__title {
        text-align: left;
        margin-bottom: 40px;
    }

    .our-advantages__box {
        padding: 22px 23px;
    }

    .our-advantages__img-box {
        margin-bottom: 29px;
    }

    .our-advantages__img-box img {
        width: 38px;
        height: 38px;
    }

    .advantages-content__title {
        font-size: 18px;
        margin-bottom: 12px;
    }

    .advantages-content__text {
        font-size: 14px;
    }
    //------------------------------------//

    .contacts__social {
        margin-top: 25px;
    }

    //------------------------------------//

    .for-whom__inner {
        align-items: flex-start;
    }

    .for-whom__item {
        padding: 23px;
    }

    .for-whom__img-box img {
        width: 28px;
        height: 28px;
    }

    .for-whom__img-box {
        margin-bottom: 61px;
    }
    .for-whom__text {
       font-size: 14px;
       max-width: 280px;
    }

    .main__for-whom {
        margin-bottom: 60px;
    }

    //------------------------------------//

    .what-learn__inner {
        gap: 20px;
    }

    .what-learn__title {
        text-align: left;
    }

    .what-learn__item {
        padding: 19px;
        gap:14px;
    }

    .what-learn__text {
        font-size: 12px;
        
    }

    .what-learn__img-box img {
        width: 35px;
        height: 35px;
    }
    //------------------------------------//

    .description-course__title {
        text-align: left;
    }

    .description-course__text {
        font-size: 14px;
    }

    //------------------------------------//

    .description-course-list {
        margin-top: 24;
        margin-bottom: 37px;
    }

    //------------------------------------//

    .modules-course__title {
        margin-bottom: 25px;
    }
    .modules-course__list {
        justify-content: flex-start;
        margin-bottom: 20px;
    }

    .modules-course__item {
        font-size: 12px;
    }

    .accordion__control {
        padding: 21px;
        
    }

    .accordion__icon svg {
        width: 34px;
        height: 34px;
    }

    .accordion__title {
        text-align: left;
        font-size: 14px;
        margin-left: 12px;
      
    }

    .accrodiona__text {
        font-size: 9px;
        max-width: 44px;
        text-align: left;
    }

    .accordion__content {
       
        font-size: 14px;
    
    }

    .open .accordion__content {
        padding: 20px 31px;
    }

   

    .accordion {
        margin-bottom: 20px;
        
    }

    //------------------------------------//

    .about-instructor__img-box img {
        max-width: 486px;
        width: 100%;
    }

    .about-instructor__name {
        font-size: 24px;
        margin-bottom: 16px;
    }

    .about-instructor__info {
        font-size: 16px;
    }

    .about-instructor__progress {
        margin-top: 18px;
    }

    .about-instructor__field {
        font-size: 14px;
    }

    .about-instructor__result {
        font-size: 14px;
    }

    .about-instructor__description {
        font-size: 14px;   
    }

    //------------------------------------//
    
    

}


// ===================== 540 ====================== //

@media (max-width: 540px) {
    .social__link {
        font-size: 8px;
        margin-right: 5px;
    }

    .social__link:nth-child(1) img {
        width: 16px;
        height: 16px;
    }

    .social__link:nth-child(2) img {
        width: 11px;
        height: 11px;
        margin-right: 5px;
    }

    .social__link:nth-child(3) img {
        width: 9.5px;
        height: 9.5px;
        margin-right: 5px;
        
    }
}


// ===================== 425 ====================== //

@media (max-width: 425px) {
    .company__logos {
        justify-content: space-between;
        column-gap: 12px;
        row-gap: 6px;
    }

    //------------------------------------//

    .contacts__inner {
        padding: 25px;
        border-radius: 15px;
    }

    .contacts__input {
        padding: 15px;
        font-size: 10px;
        border-radius: 6.6px;
        margin-bottom: 17px;
    }

    .button__send {
        max-height: 41px;
        font-size: 14px;
        border-radius: 6.6px;
        margin-bottom: 17px;
    }

    .custom-radio span {
        font-size: 9px;
    }

    .custom-radio span::before {
        width: 9px;
        height: 9px;
        margin-right: 5px;
    }

   

    .custom-radio span::before {
        width: 10px;
        height: 10px;
        margin-right: 5px;
    }

    .custom-radio span::after {
        content: "";
        position: absolute;
        left: 3px;
        top: 50%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        transform: translateY(-50%) ;
        background-color: #fff;
        opacity: 0;
    }

    //------------------------------------//

    .about-course__title {
        text-align: left;
    }

    //------------------------------------//

    .slide__inner {
        padding: 25px 25px 39px 25px;
        border-radius: 15px;
    }
    //------------------------------------//

    .footer {
        margin-top: 60px;
    }

    .footer .nav-list .list__link {
        font-size: 12px;
    }
    .footer .contacts-list .contacts-list__link {
        font-size: 12px;
    }
    .footer .nav-list .list__link {
        font-size: 12px;
    }

    .footer__social a img{
        width: 28px;
        height: 28px;
    }

    .footer__politics-mob .politics__link {
        font-size: 12px;
    }

    //------------------------------------//

    .accordion__title {
        max-width: 190px;
    }

    //------------------------------------//

    .about-instructor__field {
        width: 95px; 
    }

    .about-instructor__result {
        width: 224px;
        text-align: left;
    }

    //------------------------------------//

    

}


// ===================== 360px ====================== //

@media (max-width: 359px) {

    .container {
        padding-right: 5px;
        padding-left: 5px;
    }
}
